<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
		<link th:href="@{/css/bootstrap.min.css}" 
			href="../css/bootstrap.min.css" rel="stylesheet">
	<title>Insert title here</title>
	<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
</head>
<style>
	#all{
		width : 100%;
		text-align : center;
		vertical-align : top;
	}
	
	.in{
		display : inline-block;
	}
	ul{
		height : 500px;
		overflow:scroll;			
	}
	
	td, td textarea, td input ,  td select{
		height : 50px;
	}
	td input{
		width : 100px;
	}
	td textarea{
		width : 200px;
	}	


</style>

<body>
registQuiz
	<div class="in">
		<h3>대분류</h3>
		<select id="testCategoryList" class="text test" type="text"></select>
		
	</div>
	<div class="in">
		시행월 <input type="month"/>
		회차 : <input type="number"/>
	</div>
	<button id="save">save</button>
	<table class="table">
	<thead>
		<tr>
			<th>번호</th>
			<th>과목</th>
			<th>내용</th>
			<th>해설</th>
			<th>보기1</th>
			<th>보기2</th>
			<th>보기3</th>
			<th>보기4</th>
			<th>삭제</th>
		</tr>
	</thead>
	<tbody class="table-group-divider">
		<tr>
			<td>1</td>
			<td><select  class="subjectSelector"></select></td>
			<td><textarea class="content"></textarea></td>
			<td><textarea class="explation"></textarea></td>
			<td><input type="text" class="option1"/></td>
			<td><input type="text" class="option2"/></td>
			<td><input type="text" class="option3"/></td>
			<td ><input type="text"class="option4"/></td>			
			<td><input type="button" class="btn-close" disabled/></td>		
		</tr>
	</tbody>
	</table>
	<input id="addBtn" type="button" value="+"/>
	
</body>
<script>
let now_test_category_no;

selectTestCategoryList();
//시험종류 검색
$('.text.test').keyup(function(){
	selectTestCategoryList(this.value);
	
});


/* jshint esversion: 6 */



$('.text.test').change(function(){
	console.log(this.value);
	selectSubjectCategoryList(this.value);
	$.ajax({
			type : 'post',
			url : 'category/selectSubjectCategoryList',
			data : JSON.stringify({'test_category_seq':this.value,'subject_category':''}),
			dataType : 'json',
			contentType : 'application/json',
			success : function(data){
				let txt = '';
				data.subjectCategoryList.forEach(function(item,idx){
					txt += 
					`<option class="subject_category ${item.subject_category_seq} list-group-item" >
					${item.subject_category}
					</option>`;
				});
				$('#subjectCaegoryList').empty();
				$('#subjectCaegoryList').append(txt);
			},
			error : function(e){
				console.log(e);		
			}
		});
})



function selectTestCategoryList(keyword=''){
		$.ajax({
			type : 'post',
			url : 'category/selectTestCategoryList',
			data : JSON.stringify({'test_category':keyword}),
			dataType : 'json',
			contentType : 'application/json',
			success : function(data){
				let txt = '<option>--선택하세--</option>';
				data.test_category_list.forEach(function(item,idx){
					txt += 
					`<option 
						class="test_category ${item.test_category_seq}" 
						onclick="clickTestCategory(this)"
						value="${item.test_category_seq}"			
						>
						${item.test_category}
					</option>
					`;
				});
				$('#testCategoryList').empty();
				$('#testCategoryList').append(txt);
			},
			error : function(e){
				console.log(e);		
			}
		});
}




let nowSubjectList = [];
let nowSubjectOptionList = '';
function selectSubjectCategoryList(selectSubjectCategory,keyword=''){
	
		$.ajax({
			type : 'post',
			url : 'category/selectSubjectCategoryList',
			data : JSON.stringify({'test_category_seq':selectSubjectCategory,'subject_category':keyword}),
			dataType : 'json',
			contentType : 'application/json',
			success : function(data){
				nowSubjectList = data.subjectCategoryList;
				nowSubjectOptionList = '';
				nowSubjectList.forEach(function(item,idx){
					nowSubjectOptionList += `<option class="subject_category ${item.subject_category_seq} list-group-item" 
					onclick="clickSubjectCategory(this)">
					${item.subject_category}
					</option>`;
				});
				$('.subjectSelector').empty();
				$('.subjectSelector').append(nowSubjectOptionList);
			},
			error : function(e){
				console.log(e);		
			}
		});
}

let lastNum = 1;
$('#addBtn').click((e)=>{
	lastNum += 1;
	let txt = '';
	txt += 		
		`<tr>
			<td class="quiz_no">${lastNum}</td>
			<td>
					<select class="subjectSelector">
								${nowSubjectOptionList}	
					</select>
			</td>
			<td><textarea class="content"></textarea></td>
			<td><textarea class="explation"></textarea></td>
			<td><input class="option1" type="text"/></td>
			<td><input class="option2" type="text"/></td>
			<td><input class="option3" type="text"/></td>
			<td><input class="option4" type="text"/></td>		
			<td><input type="button" class="btn-close" onclick="removeForm(this)"/></td>				
		</tr>`;
	$('tbody').append(txt);
	
	});
	
const removeForm = (e) =>{
	$(e).parent().parent().remove();
	lastNum -= 1;
	let quiz_no = document.getElementsByClassName('quiz_no');
	for(let i = 0 ; i < quiz_no.length ; i++){
		quiz_no[i].innerHTML = i+2;
	}
};



let quizList = []
$('#save').click(function(){
	let trList = $('tbody tr');
	console.log(trList);
	for(i = 0 ; i < trList.length ; i ++){
		let obj = {};
		obj.quiz_index = i;
		obj.subject_category_seq = trList[i].querySelector('.subjectSelector').value;
		obj.quiz_content = trList[i].querySelector('.content').value;
		obj.quiz_explation = trList[i].querySelector('.explation').value;
		obj.quiz_option1 = trList[i].querySelector('.option1').value;
		obj.quiz_option2 = trList[i].querySelector('.option2').value;
		obj.quiz_option3 = trList[i].querySelector('.option3').value;
		obj.quiz_option4 = trList[i].querySelector('.option4').value;
		quizList.push(obj);

	}
	console.log(quizList);
});


</script>


</html>